.DS_Store
__pycache__/
*.py[cod]
.build/
.swiftpm/
.artifacts/
Packages/
DerivedData/
xcuserdata/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.xccheckout
*.xcscmblueprint
